.landing {
    display: flex;
    align-items: center;
    padding: 40px 0;
    margin-left: 11%;
    overflow-x: hidden;
  }
  
  @media (max-width: 992px) {
    .landing {
      flex-direction: column-reverse;
      margin-left: 0;
      padding-bottom: 80px;
      row-gap: 60px;
    }
  }
  
  @media (max-width: 280px) {
    .landing {
      padding-bottom: 40px;
    }
  }
  
  .landing .landing-text {
    flex: 1;
    min-width: 465px;
  }
  
  @media (max-width: 992px) {
    .landing .landing-text {
      max-width: 95%;
      min-width: 0;
      text-align: center;
    }
  }
  
  .landing .landing-text h1 {
    width: 100%;
    font-size: 3.9em;
    line-height: 1.15;
  }
  
  @media (max-width: 992px) {
    .landing .landing-text h1 {
      font-size: 3em;
    }
  }
  
  @media (max-width: 500px) {
    .landing .landing-text h1 {
      font-size: 2em;
    }
  }
  
  .landing .landing-text p {
    font-size: 18px;
    max-width: 500px;
    margin: 0 0 29.41176px;
  }
  
  @media (max-width: 992px) {
    .landing .landing-text p {
      font-size: 16px;
      margin: 10px auto 29.41176px;
    }
  }
  
  @media (max-width: 500px) {
    .landing .landing-text p {
      font-size: 15px;
    }
  }
  
  .landing .landing-image {
    position: relative;
    right: -70px;
  }
  
  @media (max-width: 992px) {
    .landing .landing-image {
      flex-basis: initial;
      right: -240px;
    }
  }
  
  @media (max-width: 767px) {
    .landing .landing-image {
      right: -170px;
    }
  }
  
  @media (max-width: 500px) {
    .landing .landing-image {
      right: -110px;
    }
  }
  
  @media (max-width: 375px) {
    .landing .landing-image {
      right: -120px;
    }
  }
  
  @media (max-width: 280px) {
    .landing .landing-image {
      right: -70px;
    }
  }
  
  @media (min-width: 1100px) {
    .landing .landing-image {
      right: -130px;
    }
  }
  
  .landing .landing-image img {
    width: 100%;
  }
  