.sec{
    position: relative;
    width: 100%;
    min-height: 110vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #006acc;
    transition: 0.5s;

    &__content{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__textBox{
        position: relative;
        max-width: 600px;

        h2{
            font-size: 4rem;
            font-weight: 900;
            color: #fff;
            line-height:1.5em;
            text-transform: uppercase;

            span{
                font-size: 2em;
            }
        }
        p{
            color: #fff;
        }
        a{
            display: inline-block;
            margin-top: 20px;
            padding: 8px 20px;
            background: #fff;
            color: #0062be;
            text-transform: uppercase;
            border-radius: 40px;
            letter-spacing: 1px;
            font-weight: 500;
            text-decoration: none;
            transition: 0.5s;

            &:hover{
                background: #0062be;
                color: #fff;
            }
        }
    }
    &__imgBox{
        width: 600px;
        display: flex;
        padding-right: 50px;
        margin-top: 50px;
        justify-content: flex-end;

        img{
            max-width: 260px;
        }
    }
    &__thumb{
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        display: flex;

        li{
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            cursor: pointer;
            transition: 0.5s;

            &:hover{
                transform: translateY(-15px);
            }

            img{
                max-width: 40px;
            }
        }
    }
}

@media screen and (max-width: 991px){
    .sec{
        padding: 50px;
        
        &__content{
            flex-direction: column;
            margin-top: 80px;
        }
        &__textBox{
            position: relative;
            max-width: 100%;
            padding-right: 20px;
            h2{
                font-size: 3rem;
            }
            a{
                font-size: 14px;
                padding: 8px 15px;
            }
        }
        &__imgBox{
            width: 100%;
            display: flex;
            padding-right: 0;
            // margin-top: 30px;
            align-items: center;
            justify-content: center;
            
            img{
                max-width: 150px;
            }
        }
        &__thumb{
            li img{
                max-width: 30px;
            }
        }
    }
}